@font-face {
        font-family: 'Comic' ;
        src: url(../Fontes/Comic.ttf) format('truetype');
        font-weight: normal;
    
    }
    .div1 {
        font-family: 'Comic';
        font-size: x-large;
        height: 100px;
        width: 1325px;
        background-color:coral;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    .div2{
        font-family: 'Comic';
        font-size: x-large;
        position: absolute;
        left: 10px;
        top: 10px;
        right: 10px;
        left: 10px;
    }
    .cu{
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-duration: 2s;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 1285px;
        bottom: 570px;
        
    }
    .cu:hover{
        border-radius: 60%;
        transform: rotate(400px);
    }
    .div3{
        font-family: Comic;
        font-size: x-large;
        position: absolute;
        bottom: 560px;
        right: 1190px;
        top: 60px;
        color:steelblue;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-duration: 2s;
    }
    .div4{
        font-family: Comic;
        font-size: medium;
        position: absolute;
        bottom: 400px;
    }
    .github{
     transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
     transition-duration: 2s;
     width: 33px;
     height: 33px;
     position: absolute;
     right: 1140px;
     bottom: 570px;
    }
    .github:hover{
        border-radius: 60%;
        transform: rotate(400px);
    }
    .div5{
        font-family: Comic;
        font-size: x-large;
        color: black;
        position: absolute;
        right: 1070px;
        bottom: 570px;
        top: 60px;
    }
